$color-background-primary: #fff;

$color-text-primary: #8a8c88;
$color-text-secondary: #7d756f;

$color-button-primary: #abe157;
$color-button-hover: #45ac37;
$color-button-disabled: #6b7280;

$color-timer-border: #45ac37;

$color-input-border: #abe157;
$color-input-hover: #45ac37;

$color-error: #f8a60e;
